/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
}


/* Main layout container */
.layout {
  display: flex;
  min-height: 100vh; 
  width: 100%; 
}

/* Sidebar styling */
.sidebar {
  width: 300px; /* Adjust width */
  background-color:#001a07;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  transition: width 0.3s ease; 
  justify-content: space-between;
}

.sidebar .logo {
    width: 100%;
    height: 260px; 
    background-image: url("/logo.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px; 
}

.sidebar p{
  font-family: "Monospace", "Lucida Console";
  font-size: x-large;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%; 
  margin-top: auto;
  margin-left: 30px;
}

.sidebar .menu-item {
  width: 75%;
  padding: 10px 15px; /* Use padding for better spacing */
  background: #919090;  
  margin-bottom: 5px; /* Reduced margin */
  text-align: center;
  text-decoration: none; /* Remove underlines from links */
  color:black;       /* Ensure text is readable */
  border-radius: 4px;  /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  align-items: center;
  
}

.sidebar .menu-item:hover {
  background-color: #555; /* Darker on hover */
}


.content {
  flex: 1;
  display: flex;
  width:fit-content;
  flex-direction: column;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 20px; /* Add padding to the main content */
  background-image: url(/GreenDark.jpg);
  background-size: cover;
  overflow-y: auto;  /* Add scroll if content overflows */
}
